/* Configurações gerais do documento e fonte */
body {
    background-color: #0609c4; 
    color: #e0e0e0; 
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilização do cabeçalho */
header {
    background-color: #031686; 
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #a4c9b3; 
    border-bottom: 3px solid #00b7ff;
}

/* Seção de destaque principal (topo da página) */
.chamada {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.chamada-texto {
    max-width: 800px;
}

/* Adicionando estilo básico para a lista de profissionais */
.chamada-texto ul {
    list-style-type: none; /* Remove os marcadores padrão da lista */
    padding: 0;
    text-align: left; /* Alinha o texto da lista à esquerda */
    margin-top: 20px;
}

.chamada-texto li {
    margin-bottom: 10px; /* Adiciona espaço entre os itens da lista */
    font-size: 1.1rem;
}

.chamada-texto h1 {
    font-size: 3rem;
    color: #a4c9b3;
    margin-bottom: 10px;
}

.chamada-texto p {
    font-size: 1.2rem;
    color: #d1e8d9;
    margin-bottom: 30px;
}

/* Seção de categoria de vídeos */
.categoria {
    padding: 40px 20px;
    text-align: center;
}

.categoria h2 {
    font-size: 2.2rem;
    color: #a4c9b3;
    margin-bottom: 20px;
    border-bottom: 2px solid #0c08df;
    display: inline-block;
    padding-bottom: 5px;
}

.categoria-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.categoria-videos a img {
    width: 100%;
    max-width: 250px;
    border: 3px solid #1310dd;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.categoria-videos a img:hover {
    transform: scale(1.05);
    border-color: #d1e8d9;
    cursor: pointer;
}

/* Responsividade: Ajustes para telas menores */
@media (max-width: 768px) {
    header {
        font-size: 1.8rem;
    }
    
    .chamada-texto h1 {
        font-size: 2rem;
    }
    
    .chamada-texto p {
        font-size: 1rem;
    }
    
    .categoria h2 {
        font-size: 1.5rem;
    }

    .chamada-img {
        max-width: 100%;
    }
}